/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400&display=swap");

/* Bootstrap Link Import */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #121213;
  display: grid;
  place-items: center;
  /* scrollbar-width: none; */
}

body::-webkit-scrollbar {
  display: none;
}

header {
  /* position: relative; */
  width: 85%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
}

header .menu_side,
.song_side {
  width: 25%;
  height: 105%;
  /* border: 1px solid #fff; */
  background: #111727;
  box-shadow: 5px 0 2px #090f1f;
  color: #fff;
}

header .song_side {
  width: 75%;
  background-color: #0b1320;
}

header .master_play {
  width: 100%;
  height: 10%;
  background: #111727;
  box-shadow: 0 3px 8px #090f1f;
  /* border: 1px solid #fff; */
}

/* Menu Side Section*/
header .menu_side h1 {
  font-size: 20px;
  margin: 15px 0 0 20px;
  font-weight: 500;
}

header .menu_side .playlist {
  margin: 40px 0 0 20px;
}

header .menu_side .playlist h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}

header .menu_side .playlist h4:hover {
  color: #fff;
}

header .menu_side .playlist h4 span {
  position: relative;
  margin-right: 35px;
}

header .menu_side .playlist h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}

header .menu_side .playlist h4:hover span::before {
  border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi {
  display: none;
}

header .menu_side .playlist .active {
  color: #36e2ec;
}

header .menu_side .playlist .active span {
  display: none;
}

header .menu_side .playlist .active .bi {
  display: flex;
  margin-right: 20px;
}

header .menu_side .menu_song {
  width: 100%;
  height: 420px;
  /* border: 1px solid #fff; */
  margin-top: 40px;
  overflow: auto;
}

header .menu_side .menu_song::-webkit-scrollbar {
  display: none;
}

header .menu_side .menu_song li {
  list-style: none;
  position: relative;
  padding: 5px 0 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

header .menu_side .menu_song li:hover {
  background-color: rgba(105, 105, 105, 0.1);
}

header .menu_side .menu_song li span {
  font-size: 12px;
  font-weight: 600;
  color: #4c5262;
}

header .menu_side .menu_song li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

header .menu_side .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
  width: 170px;
  /* border: 1px solid #fff; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .menu_side .menu_song li h5 .subtitle {
  font-size: 9px;
  color: #4c5262;
}

header .menu_side .menu_song li .bi {
  position: absolute;
  right: 15px;
}

/* Master Play Section */
header .master_play {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header .master_play .wave {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

header .master_play .wave .wave1 {
  width: 3px;
  height: 10px;
  background-color: #36e2ec;
  margin-right: 3px;
  border-radius: 10px 10px 0 0;
  animation: unset;
}

header .master_play .wave .wave1:nth-child(2) {
  height: 13px;
  margin-right: 3.5px;
  animation-delay: 0.4s;
}

header .master_play .wave .wave1:nth-child(3) {
  height: 8px;
  animation-delay: 0.8s;
}

/* JavaScript Classes */
header .master_play .active1 .wave1 {
  animation: wave 0.5s linear infinite;
}

header .master_play .active1 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}

header .master_play .active1 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}

header .master_play img {
  width: 35px;
  height: 35px;
}

header .master_play h5 {
  font-size: 13px;
  width: 130px;
  margin-left: 15px;
  color: #fff;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .master_play h5 .subtitle {
  font-size: 11px;
  color: #4c5262;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .master_play .icon {
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0 40px;
  outline: none;
  display: flex;
  align-items: center;
}

header .master_play .icon {
  cursor: pointer;
  outline: none;
}

header .master_play .icon .shuffle {
  font-size: 17px;
  margin-right: 10px;
  width: 17.5px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

header .master_play .icon #download_music {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
}

header .master_play .icon .bi:nth-child(3) {
  border: 1px solid rgba(105, 105, 105, 0.1);
  border-radius: 50%;
  padding: 1px 5px 0 7px;
  margin: 0 5px;
}

header .master_play span {
  color: #fff;
  width: 32px;
  font-size: 11px;
  font-weight: 400;
}

header .master_play #currentStart {
  margin: 0 0 0 20px;
}

header .master_play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background-color: rgba(105, 105, 170, 0.1);
  margin: 0 15px 0 10px;
}

header .master_play .bar .bar2 {
  position: absolute;
  background-color: #36e2ec;
  width: 0;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

header .master_play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #36e2ec;
  border-radius: 50%;
  left: 0;
  top: -1.5px;
  transition: 1s linear;
}

header .master_play .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -6.5px;
  top: -6.5px;
  box-shadow: inset 0 0 3px #36e2ec;
}

header .master_play .bar input {
  position: absolute;
  width: 100%;
  top: -7px;
  left: 0;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
}

header .master_play .vol {
  position: relative;
  width: 100px;
  height: 2px;
  background-color: rgba(105, 105, 170, 0.1);
  margin-left: 50px;
}

header .master_play .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;
}

header .master_play .vol input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
}

header .master_play .vol .vol_bar {
  position: absolute;
  background-color: #36e2ec;
  width: 50%;
  height: 100%;
  top: 0;
  transition: 1s linear;
}

header .master_play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #36e2ec;
  border-radius: 50%;
  left: 0;
  top: -1.5px;
  transition: 1s linear;
}

header .master_play .vol .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: -6px;
  top: -5.5px;
  box-shadow: inset 0 0 3px #36e2ec;
}

/* Song Side Section */
header .song_side {
  z-index: 2;
  overflow-x: auto;
}

header .song_side::before {
  content: "";
  position: absolute;
  width: 62%;
  height: 300px;
  background: url("/bg_img/bg1.png");
  z-index: -1;
}

header .song_side nav {
  width: 90%;
  height: 10%;
  /* border: 1px solid #fff; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side nav ul {
  display: flex;
}

header .song_side nav ul li {
  list-style: none;
  position: relative;
  font-size: 13px;
  margin-right: 25px;
  color: #4c5262;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side nav ul li:hover {
  color: #fff;
}

header .song_side nav ul li:nth-child(1) {
  color: #fff;
}

header .song_side nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: #36e2ec;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

header .song_side nav .search {
  position: relative;
  width: 40%;
  padding: 1px 10px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: grey;
}

header .song_side nav .search::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(184, 184, 184, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(3px);
  z-index: -1;
}

header .song_side nav .search .search_results {
  position: absolute;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
  overflow: auto;
}

header .song_side nav .search .search_results::-webkit-scrollbar {
  display: none;
}

header .song_side nav .search .search_results .card {
  width: 100%;
  min-height: 45px;
  display: flex;
  align-items: center;
  background-color: rgba(184, 184, 184, 0.1);
  margin-bottom: 5px;
  text-decoration: none;
  display: none;
}

header .song_side nav .search .search_results .card img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

header .song_side nav .search .search_results .card .content {
  width: 80%;
  height: 100%;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
}

header .song_side nav .search .search_results .card .subtitle {
  font-size: 11px;
  color: #a4a8b4;
  font-weight: 500;
}

header .song_side nav .search .bi {
  font-size: 13px;
  padding: 3px 0 0 10px;
}

header .song_side nav .search input {
  background: none;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
}

header .song_side nav .user {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
}

header .song_side nav .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #121213;
}

header .song_side .content {
  width: 90%;
  height: 30%;
  /* border: 1px solid #fff; */
  margin: auto;
  padding-top: 20px;
}

header .song_side .content h1 {
  font-size: 25px;
  font-weight: 600;
}

header .song_side .content p {
  font-size: 11px;
  font-weight: 400;
  color: #4c5262;
  margin: 5px;
}

header .song_side .content .buttons {
  margin-top: 15px;
}

header .song_side .content .buttons button {
  width: 130px;
  height: 30px;
  border: 2px solid #36e2ec;
  outline: none;
  border-radius: 20px;
  background-color: #5adae0;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
  margin-right: 5px;
}

header .song_side .content .buttons button:hover {
  background: none;
  color: #36e2ec;
}

header .song_side .content .buttons button:nth-child(2) {
  background: none;
  color: none;
}

header .song_side .content .buttons button:nth-child(2):hover {
  background-color: green;
  color: #fff;
  border-color: white;
}

header .song_side .popular_song {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 15px;
  /* border: 1px solid #fff; */
  scrollbar-width: none;
}

header .song_side .popular_song::-webkit-scrollbar {
  width: 0 !important ;
}

header .song_side .popular_song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side .popular_song .h4 .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side .popular_song .h4 .bi:hover {
  color: #fff;
}

header .song_side .popular_song .pop_song {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  display: flex;
  /* border: 1px solid #fff; */
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

header .song_side .popular_song .pop_song::-webkit-scrollbar {
  display: none;
}

header .song_side .popular_song .pop_song li {
  min-width: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: 0.3s linear;
}

header .song_side .popular_song .pop_song li:hover {
  background-color: rgba(105, 105, 170, 0.1);
}

header .song_side .popular_song .pop_song li .img_play {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .song_side .popular_song .pop_song li .img_play img {
  width: 100%;
  height: 100%;
}

header .song_side .popular_song .pop_song li .img_play .bi {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  opacity: 0;
}

header .song_side .popular_song .pop_song li:hover .img_play .bi {
  opacity: 1;
}

header .song_side .popular_song .pop_song li h5 {
  padding: 5px 0 0 5px;
  line-height: 15px;
  font-size: 10px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header .song_side .popular_song .pop_song li h5 .subtitle {
  font-size: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #4c5262;
}

header .song_side .popular_artists {
  width: 90%;
  height: auto;
  /* border: 1px solid #fff; */
  margin: auto;
  margin-top: 15px;
}

header .song_side .popular_artists .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side .popular_artists .h4 .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side .popular_artists .h4 .bi:hover {
  color: #fff;
}

header .song_side .popular_artists .item {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  /* border: 1px solid #fff; */
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

header .song_side .popular_artists .item::-webkit-scrollbar {
  display: none;
}

header .song_side .popular_artists .item li {
  list-style-type: none;
  position: relative;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

header .song_side .popular_artists .item li:hover {
  border: 3px solid #fff;
  /* transform: scale(1.1); */
}

header .song_side .popular_artists .item li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* transition: all 0.4s; */
}

/* header .song_side .popular_artists .item li img:hover {
  transform: scale(1.1);
} */

@media only screen and (max-width: 1200px) {
  header .song_side {
    width: 62vw;
  }

  header .master_play {
    width: 98%;
  }
}

@media only screen and (max-width: 965px) {
  header {
    height: 90%;
  }

  header .menu_side .menu_song li {
    padding: 3px 0 3px 15px;
  }

  header .menu_side .menu_song li .bi {
    font-size: 14px;
  }

  header .menu_side .menu_song li h5 {
    font-size: 9px;
  }

  header .song_side nav .search input {
    font-size: 10px;
    padding: 0 5px;
  }

  header .song_side .content p {
    font-size: 9.5px;
  }

  header .song_side::before {
    height: 250px;
    width: 50%;
  }

  header .song_side .content {
    width: 92%;
  }

  header .song_side .content h1 {
    font-size: 20px;
  }

  header .song_side .popular_song .pop_song li .img_play {
    width: 90px;
    height: 90px;
  }

  header .song_side .popular_song .pop_song li h5 {
    font-size: 9px;
  }
}

@media only screen and (max-width: 810px) {
  header {
    height: 87%;
  }

  header .menu_side .playlist h4 {
    font-size: 12px;
  }

  header .song_side nav ul li {
    font-size: 10px;
  }

  header .song_side nav .search input {
    font-size: 8px;
  }

  header .song_side nav .search .bi {
    font-size: 9px;
  }
}

@media only screen and (698px <= width < 711px) {
  header {
    height: 92%;
  }
}

@media only screen and (max-width: 710px) {
  header .menu_side .menu_song li {
    padding: 3px 0 3px 8px;
  }

  header .menu_side,
  .song_side {
    height: 95%;
  }

  header .song_side .content {
    height: 25%;
  }

  header .song_side .content h1 {
    font-size: 14px;
  }

  header .song_side .content p {
    margin: 2px;
    font-size: 8.5px;
  }

  header .song_side .popular_song .pop_song li .img_play {
    height: 80px;
    width: 80px;
  }

  header .song_side .popular_song .h4 h4 {
    font-size: 14px;
  }

  header .song_side .popular_artists .h4 {
    font-size: 14px;
  }

  header .song_side .popular_artists .item li {
    min-width: 45px;
    height: 45px;
  }

  header .master_play {
    max-width: 100vw;
  }

  header .master_play h5 {
    font-size: 9px;
  }

  header .master_play .icon {
    font-size: 14px;
  }
}

@media only screen and (max-width: 696px) {
  header {
    height: 89%;
  }

  header .song_side .content .buttons button {
    width: 85px;
    height: 25px;
    font-size: 10px;
  }

  header .menu_side .menu_song li img {
    display: none;
  }

  header .song_side nav ul li {
    font-size: 8px;
    white-space: no-wrap;
  }

  header .song_side nav .search .bi {
    display: none;
  }

  header .song_side nav .user {
    margin-left: 20px;
  }

  header .song_side nav .search .search_results .card .content {
    width: 60%;
    font-size: 9px;
    font-weight: 500;
  }

  header .song_side nav .search .search_results .card .subtitle {
    font-size: 7px;
  }

  header .song_side .popular_song .pop_song li {
    min-width: 100px;
    height: 140px;
    margin-right: -10px;
  }

  header .song_side .popular_song .pop_song li .img_play img {
    height: 80%;
    width: 80%;
  }

  header .menu_side .playlist h4 {
    font-size: 9px;
  }

  header .master_play h5 {
    font-size: 7px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 87.5%;
  }

  header .song_side nav .user {
    margin-left: 5px;
  }

  header .song_side nav .user img {
    width: 110%;
    height: 100%;
  }

  header .song_side nav .search .bi {
    display: none;
  }

  header .master_play h5 {
    font-size: 5px;
  }

  header .master_play img {
    width: 25px;
    height: 30px;
  }

  header .master_play h5 .subtitle {
    font-size: 6px;
  }

  header .master_play .icon {
    font-size: 8px;
  }

  header .master_play .vol .bi {
    font-size: 23px;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 88%;
  }

  header .song_side::before {
    background: #0b1320;
  }

  header .song_side .popular_song .h4 h4 {
    font-size: 12px;
    margin-bottom: -5px;
  }

  header .song_side .popular_artists .h4 {
    font-size: 12px;
  }

  header .song_side nav ul li {
    display: none;
  }

  header .master_play img {
    display: none;
  }

  header .master_play .icon {
    font-size: 8px;
    margin: 0px -17px 0 20px;
  }

  header .master_play .icon .shuffle {
    font-size: 17px;
    margin-right: 8px;
    width: 16.5px;
  }
}

@media only screen and (max-width: 400px) {
  header {
    height: 87%;
  }

  header .menu_side .menu_song li .bi {
    font-size: 10px;
    color: #e6e6e6;
  }

  header .menu_side h1 {
    font-size: 13px;
  }

  header .song_side nav ul li {
    display: none;
  }

  header .menu_side .playlist h4.active {
    display: inline;
  }

  header .menu_side .playlist h4 {
    display: none;
  }

  header .song_side nav .search .search_results {
    background-color: transparent;
  }

  header .song_side nav .search .search_results .card .content {
    width: 50%;
    font-size: 6px;
    font-weight: 300;
  }

  header .song_side nav .search .search_results .card img {
    width: 25px;
    height: 35px;
    border-radius: 5px;
  }

  header .song_side .content .buttons button {
    width: 70px;
    height: 20px;
    font-size: 9px;
  }

  header .song_side .popular_song .pop_song li h5 {
    font-size: 6px;
  }

  header .song_side .popular_song .pop_song li h5 {
    padding: 5px 0px 0 9px;
    font-size: 10px;
    width: 80px;
    white-space: wrap;
  }

  header .song_side .popular_song .pop_song li h5 .subtitle {
    font-size: 8px;
  }

  header .master_play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 12px;
  }

  /* header .master_play .icon .shuffle {
    display: none;
  } */

  header .master_play .wave {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    border: none;
  }

  header .master_play h5 {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    margin-left: 30px;
    width: 75px;
    font-size: 6.5px;
  }

  header .master_play h5 .subtitle {
    margin-top: -5px;
  }

  /* header .master_play .icon #download_music {
    display: none;
  } */

  header .master_play .icon {
    gap: 4px;
  }

  /* header .master_play #currentStart {
    margin: 0 0 0 22px;
  } */

  header .master_play span {
    grid-row: 3 / 3;
    grid-column: 1 / 2;
    color: #fff;
    width: 0px;
    font-size: 6px;
    font-weight: 400;
  }

  header .master_play #currentStart {
    margin: 0;
    margin-top: 12px;
    justify-self: start;
  }

  header .master_play #currentEnd {
    justify-self: end;
    margin-top: 12px;
    margin-left: 10px;
  }

  header .master_play .bar {
    /* margin: 0 24px 0 10px; */
    grid-row: 3 / 3;
    grid-column: 1 / 2;
    width: 100%;
    margin: 0;
  }

  header .master_play .bar .dot {
    width: 4px;
    height: 4px;
  }

  header .master_play .vol {
    grid-row: 3 / 3;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: right;
    margin-left: 0;
    width: 60%;
  }

  header .master_play .vol .bi {
    left: -22px;
    top: -15px;
  }
}

@media only screen and (max-width: 350px) {
  header {
    height: 82%;
  }

  header .song_side nav .search input {
    font-size: 6px;
  }

  header .song_side .content p {
    font-size: 5.5px;
  }

  header .song_side .content .buttons button {
    width: 45px;
    height: 13px;
    font-size: 5px;
  }

  /* header .song_side .popular_song .h4 h4 {
    font-size: 10px;
    margin-bottom: -15px;
  } */

  header .master_play .icon #download_music {
    display: none;
  }

  header .master_play .icon {
    gap: 3px;
  }
}
